.bg-img1 img{
    background-color: #000;
    background-size: cover;
}

.bg-img2 img{
    background-color: #000;
    background-size: cover;
}

.bg-img3 img{
    background-color: #000;
    background-size: cover;
}
